* {
    box-sizing: border-box;
}

:root {
    // ****** colors
    --white: #ffff;
    --dark-blue: #1d2d44;
    --purple: #6e7bfb;
    --pink: #dabafd;
    --blue: #3e5c76;
    --green: #009750;
    //********* fonts
    --Montserrat: "Montserrat", sans-serif;
    --Mukta: "Mukta", sans-serif;
    --Raleway: "Raleway", sans-serif;
    // ********** font sizes
    --BigTitle: 1.8rem;
    --MidTitle: 1.2rem;
    --Text: 0.8rem;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.swiper-container {
    overflow: visible;
}

table {
    border-spacing: 0 10px;
    width: 100%;
    margin: 30px 0;
}